{%include "main/HeadNav.html" %}
<div style="margin:80px">
    <h1>Career</h1>
    <h4>Join our team! We are accepting applications for online tutors!</h4>
    <p>
        Please write your name, email address and a message below if you have any questions.
    </p>
    <ul>
        <h4> Are you qualified to become a tutor?</h4>
            <li>Currently reside in the US with a valid SSN</li>
            <li>Eligible to work in the US</li>
            <li> Avaliable at least 3 days a week</li>
            <li> Posses strong communication skills</li>
            <li> Fluent in english<li>
    </ul>

    <form method="post">
    {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</div>