{% block title %}Contact Us{% endblock %}


{% block content %}
    <form method="POST" class="form-group">
    {% csrf_token %}
    {% autoescape off %}  
     <br>
    {{ form.first_name.label }}
    {{ form.first_name }}
    <br>
    {{ form.last_name.label }}
    {{ form.last_name }}
    <br>
    {{ form.email.label }}
    {{ form.email }}
    <br>
    {{ form.user_type.label }}
    {{ form.user_type }}
    <br>
    {{ form.subject.label }}
    {{ form.subject }}
    <br>
    {{ form.message.label }}
    {{ form.message }}
    <br>
    {% endautoescape %}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
{%include "main/HeadNav.html" %}


<body>
    <h4 class="" style="text-align:center;"><strong><font color="#a82e2e">Contact Us!</font></strong></h4>
        <div class = "", style = "text-align: center; position:relative; top:70;">
            <font size = "5">
                Whether you want to find out more about our services, find a position as tutor, or simply have a question...
                <br>
                Reach out!                
            </font>    
        </div>
            
    <div class="container bcontent">
        <div class="card">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>  

</body>

<style>
    h4{
        position:relative;
        top:50;
    }
    .container{
        width:70%;
        position:relative;
        top:10%;
    }
    


</style>
