{%load static%}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<div class="navbar-fixed">
    <nav>
        <div class='nav-wrapper'>
            <a href="" class="brand-logo"><img src="{%static 'media\logo.png' %}" width="150" height="100"></a>
            <ul id="nav" class = "right hide-on-med-and-down">
               <li><a> Home </a></li> 
               <li><a> Services </a></li>
               <li><a> Tutor </a></li>
               <li><a> Contact </a></li>
            </ul>
        </div>
    </nav>
</div>


<style>
nav{
    height:115px;
    background-color:#98AFA5;
}
nav ul a{
font-size: 20px;
letter-spacing:3px;
}

</style>




