{% load static %}
<h1>Registration</h1>
<br>
<a class="btn btn-primary" href="/contact">Contact Us</a>
<br>
<a class="btn btn-primary" href="/signup/parent">Parent</a>
<br>
<a class="btn btn-primary" href="/signup/student">Student</a>
<br>
<a class="btn btn-primary" href="/signup/tutor">Tutor</a>
<br>
<h1>Login</h1>
<br>
<a class="btn btn-primary" href="/login">Login</a>
<br>

  <section class="section">
    <div class="container">
      <button class="button is-primary" id="submitBtn">Purchase!</button>
    </div>
  </section>


<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'main.js' %}"></script>